<div class="default_header">
    <div class="default_header-logo" [style.width]="!isCollapsed ? '200px' : '80px'">
        <a *ngIf="!isCollapsed">商城管理系统</a>
        <a *ngIf="isCollapsed">商城</a>
    </div>
    <div class="default_header-wrap">
        <ul class="default_header-nav">
            <li>
                <div class="nav-item" (click)="changeSader()">
                    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </div>
            </li>
            <li>
                <a class="nav-item" href="//github.com/ng-alain/ng-alain" target="_blank">
                    <i nz-icon nzType="github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="default_header-wrap pull-right pr-30">
        <ul class="default_header-nav">
            <li>
                <div class="nav-item">
                    <header-setting></header-setting>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <header-user></header-user>
                </div>
            </li>
        </ul>
    </div>
</div>