.default_header {
    background: #1890ff;
    padding: 0 10px;
    .default_header-logo {
        display: inline-block;
        height: 64px;
        width: 200px;
        text-align: center;
        font-size: 18px;
        line-height: 64px;
        a {
            color: #fff;
        }
    }
    .default_header-wrap {
        height: 64px;
        display: inline-flex;
        .default_header-nav {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
            .nav-item {
                min-width: 50px;
                padding: 8px 2px;
                border-radius: 2px;
                cursor: pointer;
                display: block;
                text-align: center;
                color: #fff;
                line-height: 100%;
                font-size: 18px;
                &:hover {
                    background-color: rgba(255,255,255,.2);
                    color: #fff;
                }
            }
        }
    }
}