.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  height: 100%;
  .login-form {
    width: 320px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #e2e2e2;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}