<div class="category-main">
  <nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab (nzSelect)="selectFn(firstTab)" nzTitle="一级分类">
      <ng-template nz-tab>
        <first-category></first-category>
      </ng-template>
    </nz-tab>
    <nz-tab (nzSelect)="selectFn(secondTab)" nzTitle="二级分类">
      <ng-template nz-tab>
        <second-category></second-category>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <button nz-button class="mr-10" (click)="btnClickFn(secondTab)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      创建二级分类</button>
    <button nz-button nzType="primary" (click)="btnClickFn(firstTab)">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      创建一级分类</button>
  </ng-template>
</div>