nz-header{
    background: #1890ff;
    padding-left: 0;
}
nz-sider {
  background: #1890ff;
  color: #fff;
  line-height: 120px;
}

nz-content {
  padding: 20px;
}

.content-wrap {
  background: #fff;
  height: 100%;
  padding: 20px;
}