<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value, secondCategory)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>一级名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-select (nzScrollToBottom)="loadMoreOne()" formControlName="category_id" [nzDisabled]="isEditContent" [ngModel]="selectedOneId">
        <nz-option *ngFor="let one of oneCategories" [nzValue]="one.id" [nzLabel]="one.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="验证中..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="name" placeholder="请输入一级分类名称" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
         分类名称不能为空!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          分类名称已存在!
        </ng-container>
        <ng-container *ngIf="control.hasError('regex')">
          4到20个字段，字母数据中下划线，不能有特殊字符!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>是否发布</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-switch formControlName="isPulished" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" class="mr-10" [disabled]="!formGroup.valid">确定</button>
      <button nz-button (click)="cancelFn($event)">取消</button>
    </nz-form-control>
  </nz-form-item>
</form>