.product-main {
  .top-bar {
    overflow: hidden;
    .input-width {
      width: 220px;
      vertical-align: top;
      display: inline-block;
    }
    .refresh-btn {
      vertical-align: top;
    }
  }
}